<!-- partials/blog-post.ejs -->

<style>
  /* Estilos específicos para o partial blog-post */
  .blog-post-container {
    margin-bottom: 30px;
    border: 1px solid #ced4da; /* Adiciona borda fina */
    border-radius: 8px; /* Adiciona bordas redondas */
    padding: 15px; /* Adiciona um pouco de espaçamento interno */
    transition: box-shadow 0.1s; /* Adiciona uma transição suave na sombra */
  }

  .blog-post-container:hover {
    box-shadow: 0 0 10px lightseagreen; /* Adiciona sombra preta embaixo no hover */
  }

  .blog-title {
    font-size: 24px;
    font-weight: bold;
  }

  .blog-content {
    font-size: 16px;
  }
</style>

<div class="blog-post-container">
  <h1 class="blog-title"><%- post.titulo %></h1>
  <h5 class="blog-user" style="color: lightseagreen;"><%- post.autor %></h5>
  <p class="blog-content"><%- post.conteudo %></p>
  <h6 class="blog-data"><%- (new Date(post.datapostagem)).toLocaleString('pt-BR', { dateStyle: 'short', timeStyle: 'short' }) %></h6>
</div>
